MODE=<Dev>

DB_HOST=<localhost>
DB_PORT=<5432>
DB_NAME=<task>
DB_USER=<postgres>
DB_PASS=<root>

RMQ_LOGIN=<user>
RMQ_PASSWORD=<bitnami>
RMQ_HOST=<rabbitmq>
RMQ_PORT=<5672>

REDIS_URL =<redis://localhost>